<p id="notice"><%= notice %></p>

<div class="row">
  <% @pons.each do |pon| %>
    <div class="col-md-3">
      <div class="panel panel-default pon">
        <div class="panel-body">
          <%= image_tag pon.pon_image.url(:medium), class: 'img-responsive' %>
        </div>
        <div class="panel-footer">
          <p><%= pon.description %></p>
          <%= link_to 'Edit', edit_pon_path(pon) %>
          <%= link_to 'Delete', pon, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
