<p id="notice"><%= notice %></p>

<h1>Listing Pons</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pons.each do |pon| %>
      <tr>
        <td><%= pon.description %></td>
        <td><%= link_to 'Show', pon %></td>
        <td><%= link_to 'Edit', edit_pon_path(pon) %></td>
        <td><%= link_to 'Destroy', pon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pon', new_pon_path %>
