<div>
  <%= image_tag @user.avatar.url(:thumb) %>
</div>
<h3><%= @user.username %></h3>
<p><%= @user.bio %></p>

<div class="row ponterest-grid">
  <% @user.pons.each do |pon| %>
    <div class="col-md-3 pon-item">
      <div class="panel panel-default pon">
        <div class="panel-body">
          <%= link_to image_tag(pon.pon_image.url(:medium)), pon, class: 'img-responsive' %>
        </div>
        <div class="panel-footer">
          <p><strong><%= link_to pon.user.username, user_path(pon.user.username) %></strong></p>
          <p><%= pon.description %></p>
          <% if pon.user == current_user %>
          <div>
          <%= link_to 'Edit', edit_pon_path(pon) %>
          <%= link_to 'Delete', pon, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
